<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Atualizar Dados da Empresa</h1>
    </div>
  </div>

  <div *ngIf="f.invalid && f.dirty" class="ui-message ui-messages-error">
    Preencha todos os campos corretamente.
  </div>

  <form #f="ngForm" autocomplete="off" (ngSubmit)="atualizar(f)">
  <div class="ui-g-12 ui-md-3 ui-fluid">
    <label>CNPJ</label>
    <input pInputText type="text" disabled=true name="cnpj" #cnpj="ngModel" [(ngModel)]="empresa.cnpj" >
  </div>
  <div class="ui-g-12 ui-md-6 ui-fluid">
    <label>E-mail</label>
      <input pInputText type="text" appCampoColorido cor='yellow' #email="ngModel" name="email"
      [(ngModel)]="empresa.email" required email>

      <div *ngIf="email.invalid && email.dirty">
        <div class="ui-message ui-messages-error">
          E-mail inválido
        </div>
     </div>

  </div>
  <div class="ui-g-12 ui-md-3 ui-fluid">
    <label>Telefone</label>
    <p-inputMask #telefone="ngModel" type="text"
    name="telefone"mask="(99)99999999?9" [(ngModel)]="empresa.telefone" required></p-inputMask>

    <app-message [controle]="telefone" error="required" text="Informe um telefone válido."></app-message>
  </div>

  <div class="ui-g-12 ui-md-6 ui-fluid">
    <label>Contato</label>
      <input pInputText  type="text" appCampoColorido cor='yellow' #contato="ngModel" name="contato"
      [(ngModel)]="empresa.contato" required minlength="4">

      <app-message [controle]="contato" error="required" text="Informe um nome para Contato."></app-message>

       <div *ngIf="contato.hasError('minlength') && contato.dirty">
        <div class="ui-message ui-messages-error">
          Minimo de {{ contato.errors.minlength.requiredLength }} caracteres
        </div>
      </div>

  </div>
  <div class="ui-g-12 ui-md-6 ui-fluid">
    <label>Cargo</label>
      <input pInputText type="text" appCampoColorido cor='yellow' #cargo="ngModel" name="cargo" [(ngModel)]="empresa.cargo" >
  </div>

  <div class="ui-g-12 ui-md-3 ui-fluid">
    <label>Situação Voucher</label>
    <p-dropdown [options]="status" [autoWidth]="false" #resgatado="ngModel"  name="resgatado" [(ngModel)]="empresa.resgatado" ></p-dropdown>
  </div>


  <div class="ui-g-12 ui-md-3 ui-fluid">
    <label>Voucher</label>
      <input pInputText type="text"  disabled=true #voucher="ngModel" name="voucher" [(ngModel)]="empresa.voucher" >
  </div>

  <div class="ui-g-12">
    <button pButton type="submit" label="Atualizar" [disabled]="f.invalid" ></button>
    <a routerLink="/empresas">Voltar para a pesquisa</a>
  </div>
</form>

</div>
