<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Dashboard</h1>
    </div>

    <div class="ui-g-12  ui-fluid">
      <div class="card flex justify-content-center">
        <p-panel header="Visão Geral" >

          <p-chart #chart type="doughnut" [data]="pieChartData" ></p-chart>

        </p-panel>
      </div>
    </div>

  </div>
</div>
