<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Relatório de clientes</h1>
    </div>


    <form (ngSubmit)="gerar()">
      <div class="ui-g-12 ui-md-9 ui-fluid">
      <h3>Pesquisar por:</h3>
      <div class="card flex justify-content-center">
        <div class="flex flex-column gap-3">
            <div *ngFor="let tipo of tipoSelecionados" class="field-checkbox">
                <p-radioButton [inputId]="tipo.key"name="tipo" [value]="tipo" [(ngModel)]="relatorioSelecionado"></p-radioButton>
                <label [for]="tipo.key" class="ml-2">{{ tipo.name }}</label>
            </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Gerar Relatorio" pTooltip="Gerar Relatorio"
      tooltipPosition="top" ></button>
      <button pButton type="submit" label="Gerar Relatorio2" pTooltip="Gerar Relatorio"
      tooltipPosition="top" ></button>
      <a routerLink="/home">Ir pra home</a>
    </div>

  </form>


  </div>


</div>
