.navbar{
    padding: 10px 0px;
    color: #fff;
    background-color: #213067;
}

.navbar-toggle {
    color: #fff;
}

.navbar-menu {
    background-color: #3a3633;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    margin: 0;
    z-index: 9998;
    list-style: none;
    padding: 0;
}

.navbar-usuario {

    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border-bottom: 1px solid #525151;
    margin-bottom: 15px;
}
.navbar-menuitem {
    padding: 15px;

}

.navbar-menuitem a {
    color:#c0bbb7;
    text-decoration: none;

}

.navbar-menuitem a:hover {
    color:#fff;

}

.navbar-menuitem.ativo{
  background-color: #494541;
}
