<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Filtro de Empresas</h1>
    </div>

    <form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Contato</label>
            <input pInputText type="text" appCampoColorido cor='yellow' name="contato" [(ngModel)]="filtro.contato">
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Status Voucher</label>
          <p-dropdown [options]="status"  placeholder="Selecione" name="resgatado"
          [(ngModel)]="filtro.resgatado"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Ordenar por:</label>
          <p-dropdown [options]="ordenacao"  placeholder="Selecione" name="ordenacao"
          [(ngModel)]="filtro.ordenacao"></p-dropdown>
        </div>

      <div class="ui-g-12">
        <label style="display: block;">Data cadastro</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}" [readonlyInput]="false" [showIcon]="false"
        name="dataInicio" [(ngModel)]="filtro.dataInicio"></p-calendar>
        <label>Até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}" [readonlyInput]="false" [showIcon]="false"
        name="dataFim" [(ngModel)]="filtro.dataFim"></p-calendar>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" ></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="empresas" [paginator]=true [rows]="filtro.itensPorPagina" [responsive]="true"
        emptyMessage="Nenhuma empresa encontrada!" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <p-column field="cnpj" header="Cnpj" styleClass="col-cnpj">
          <ng-template pTemplate="body" let-emp="rowData">
            {{ emp.cnpj | cpfCnpj }}
          </ng-template>
        </p-column>

        <p-column field="email" header="E-mail" styleClass="col-email"></p-column>
        <p-column field="contato" header="Contato" styleClass="col-data"></p-column>

        <p-column field="cargo" header="Cargo" styleClass="col-data"></p-column>
        <p-column field="telefone" header="Telefone" styleClass="col-telefone">
          <ng-template pTemplate="body" let-emp="rowData">
            {{ emp.telefone | telefone }}
          </ng-template>

        </p-column>
        <p-column field="voucher" header="Voucher" styleClass="col-voucher"></p-column>
        <p-column field="resgatado" header="Situação" styleClass="col-situacao">
          <ng-template pTemplate="body" let-stat="rowData">
            <span [style.color]="stat.resgatado === true ? 'blue' : 'red'"
            [pTooltip]="stat.resgatado === true ? 'Resgatado' : 'Pendente'"  tooltipPosition="top">
            {{ stat.resgatado === true ? 'Resgatado' : 'Pendente' }}</span>
          </ng-template>
        </p-column>
        <p-column  styleClass="col-acoes">
          <ng-template pTemplate="body" let-emp="rowData">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/empresas',emp.cnpj]"></a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12">
      <a pButton label= "Buscar Empresa" pTooltip="Buscar por CNPJ ou Voucher" tooltipPosition="top" [routerLink]="['/pesquisa']"></a>
    </div>

  </div>

</div>
