<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Parametros de Configuração</h1>
    </div>
  </div>
  <div *ngIf="f.invalid" class="alert alert-danger">
    Preencha todos os campos corretamente.
  </div>

    <form #f="ngForm" autocomplete="off" (ngSubmit)="atualizar(f)">
      <div class="ui-g-12 ui-fluid">
        <label>Assunto do e-mail</label>
        <input  pInputText type="text" appCampoColorido #assunto="ngModel" name="assunto"
        [(ngModel)]="configuracao.assunto" required minlength="4">

        <app-message [controle]="assunto" error="required" text="Informe um nome para Contato."></app-message>

        <div *ngIf="assunto.hasError('minlength') && assunto.dirty">
          <div class="ui-message ui-messages-error">
            Minimo de {{ assunto.errors.minlength.requiredLength }} caracteres
          </div>
         </div>

      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Status da Promoção</label>
        <p-dropdown [options]="status" [autoWidth]="false" #statusPromocao="ngModel" name="statusPromocao"
        [(ngModel)]="configuracao.statusPromocao"></p-dropdown>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Lembrete Voucher</label>
        <p-dropdown [options]="statusAlerta" [autoWidth]="false" #alertaVoucher="ngModel" name="alertaVoucher"
        [(ngModel)]="configuracao.alertaVoucher"></p-dropdown>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Atualizar" pTooltip="Atualizar"
        tooltipPosition="top" [disabled]="f.invalid"></button>
        <a routerLink="/home">Ir pra home</a>
      </div>
    </form>


</div>
