/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

label {
    font-weight: bold;
}

@media (min-width: 1200px){
    .container{
        width: 1170px;
        margin: 0 auto;
    }
}

.col-valor{
    width: 120px;
    text-align: right;
}

.col-data {
    width: 120px;
    text-align: center;
    font-size: 15px;
}

.col-acoes{
    width: 40px;
    text-align: center;

}

.col-cnpj{
  width: 105px;
  text-align: center;
  font-size: 15px;
}

.col-email{
  width: 160px;
  text-align: left;
  font-size: 15px;
}

.col-telefone{
  width: 90px;
  text-align: center;
  font-size: 15px;
}

.col-voucher{
  width: 55px;
  text-align: center;
}
.col-situacao{
  width: 60px;
  text-align: center;
}
/*
input.ng-invalid{
  border: 1px solid red;
}
*/
.ui-messages-error {
  margin: 0;
  margin-top: 4px;
  background-color: rgb(247, 92, 92);
  color: #ffffff;
}
