<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Pesquisa de Empresas</h1>
    </div>

    <form #f="ngForm" autocomplete="off" (ngSubmit)="consultar(f)">
<!--
      <div class="ui-g-12">
        <p-selectButton name="tipo" [options]="tipos"
          [(ngModel)]="pesquisa.tipo" #tipo="ngModel" required></p-selectButton>
      </div>
-->


<div class="ui-g-12 ui-md-9 ui-fluid">

      <div class="card flex justify-content-center">
        <h3>Pesquisar por:</h3>
        <div class="flex flex-column gap-3">
            <div *ngFor="let tipo of tipoSelecionados" class="field-checkbox">
                <p-radioButton [inputId]="tipo.key" name="tipo" [value]="tipo" [(ngModel)]="relatorioPesquisa"></p-radioButton>
                <label [for]="tipo.key" class="ml-2">{{ tipo.name }}</label>
            </div>
        </div>
      </div>
</div>


      <div class="ui-g-12 ui-md-9 ui-fluid">

        <input pInputText type="text" appCampoColorido cor='yellow' #dado="ngModel" name="dado"
          [(ngModel)]="pesquisa.dado" style="text-transform:uppercase" placeholder='Dado para pesquisa' required minlength="6">

          <app-message [controle]="dado" error="required" text="Falta dado para consulta."></app-message>

          <div *ngIf="dado.hasError('minlength') && dado.dirty">
            <div class="ui-message ui-messages-error">
              Minimo de {{ dado.errors.minlength.requiredLength }} caracteres
            </div>
          </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Buscar" [disabled]="f.invalid" ></button>
      </div>
    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="empresas" [paginator]=true [rows]="filtro.itensPorPagina" [responsive]="true"
        emptyMessage="Nenhuma empresa encontrada!" [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)" #tabela>
        <p-column field="cnpj" header="Cnpj" styleClass="col-cnpj">
          <ng-template pTemplate="body" let-emp="rowData">
            {{ emp.cnpj | cpfCnpj }}
          </ng-template>
        </p-column>

        <p-column field="email" header="E-mail" styleClass="col-email"></p-column>
        <p-column field="contato" header="Contato" styleClass="col-data"></p-column>

        <p-column field="cargo" header="Cargo" styleClass="col-data"></p-column>
        <p-column field="telefone" header="Telefone" styleClass="col-telefone">
          <ng-template pTemplate="body" let-emp="rowData">
            {{ emp.telefone | telefone }}
          </ng-template>

        </p-column>
        <p-column field="voucher" header="Voucher" styleClass="col-voucher"></p-column>
        <p-column field="resgatado" header="Situação" styleClass="col-situacao">
          <ng-template pTemplate="body" let-stat="rowData">
            <span [style.color]="stat.resgatado === true ? 'blue' : 'red'"
            [pTooltip]="stat.resgatado === true ? 'Resgatado' : 'Pendente'"  tooltipPosition="top">
            {{ stat.resgatado === true ? 'Resgatado' : 'Pendente' }}</span>
          </ng-template>
        </p-column>
        <p-column  styleClass="col-acoes">
          <ng-template pTemplate="body" let-emp="rowData">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
            [routerLink]="['/empresas',emp.cnpj]"></a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
    <div class="ui-g-12">
      <a pButton label= "Filtro de Empresa" pTooltip="Pesquisar Empresas por filtros" tooltipPosition="top" [routerLink]="['/empresas']"></a>
    </div>
  </div>

</div>
